reproj                true
themis.state.nk       /themis/naif/state.nk

fastpan.msecs         1000
fastpan.msecs.init    100
fastpan.debug         false

log.filename          debuglog.txt

log.maxsize           65536

log.dropfraction      4


factory.1  edu.asu.jmars.layer.map2         MapLViewFactory
factory.2  edu.asu.jmars.layer.stamp        StampFactory
factory.3  edu.asu.jmars.layer.shape2       ShapeFactory
factory.4  edu.asu.jmars.layer.mosaics      MosaicsLViewFactory
factory.5  edu.asu.jmars.layer.nomenclature NomenclatureFactory
factory.6  edu.asu.jmars.layer.threed       ThreeDFactory
factory.7  edu.asu.jmars.layer.grid         GridFactory
factory.8  edu.asu.jmars.layer.scale        ScaleFactory
factory.9  edu.asu.jmars.layer.groundtrack  GroundTrackFactory
factory.10 	edu.asu.jmars.layer.craterdetection  CraterDetectionFactory

dbDriver.1  org.hsqldb.jdbcDriver


auth       https://jmars.mars.asu.edu/about.php


map.map_server.default.title Mars Spaceflight Facility MapServer
map.map_server.default.custom false
map.map_server.default.timeout 10000
map.map_server.default.maxRequests 5
map.map_server.default.url http://jmars.asu.edu/maps/filter/mars?jmars_timestamp=_timestamp_

map.map_server.custom.title Mars Spaceflight Facility Custom MapServer
map.map_server.custom.custom false
map.map_server.custom.timeout 10000
map.map_server.custom.maxRequests 5
map.map_server.custom.url http://jmars.asu.edu/maps/custom

map.default.server default
map.default.source MOLA_128ppd_shade_ne

map.retriever.threadCount 5
map.cache.tileThreadCount 10
map.cache.fuzzyThreadCount 5


stamps.url                    http://appserver.mars.asu.edu/StampServer-1.2/


shape.chooser.path                 home

shape.history_size               50

shape.featurefactory.ascii         edu.asu.jmars.layer.util.features.FeatureProviderASCII
shape.featurefactory.esri          edu.asu.jmars.layer.util.features.FeatureProviderESRI
shape.featurefactory.gml           edu.asu.jmars.layer.util.features.FeatureProviderGML
shape.featurefactory.mro_roi       edu.asu.jmars.layer.util.features.FeatureProviderMRO_ROI
shape.featurefactory.csv           edu.asu.jmars.layer.util.features.FeatureProviderCSV
shape.featurefactory.dune_field    edu.asu.jmars.layer.util.features.FeatureProviderDunes
shape.featurefactory.nomenclature  edu.asu.jmars.layer.util.features.FeatureProviderNomenclature

shape.filefactory.default          edu.asu.jmars.layer.util.features.FeatureProviderESRI

shape.styles.Minimal\ Style\ Columns resources/shape_styles_mincolumns.xml
shape.styles.All\ Style\ Columns resources/shape_styles_allcolumns.xml

shape.styles_default All Style Columns


threed.default_elevation.server  default

threed.default_elevation.source  MOLA_128ppd_topo

mosaics.server.url        http://jmars.asu.edu/maps/mosaics


groundtrack          http://jmars.asu.edu/internal/time_track.phtml?
groundtrack.primary  14400

groundtrack.chunksize 200

edu.asu              var

windows_base_dir     c:

hvector.out.ll       false

projection.round     45

time.db              http://jmars.asu.edu/internal/time_db.phtml
time.db.craft.ODY    -53
time.db.craft.MEX    -41
time.db.craft.MGS    -94


tooltip.dismiss       10000


default.time.format   E


wikipage             http://jmars.asu.edu/
reportpage           http://jmars.asu.edu/report.php

homepage             http://jmars.asu.edu
edition              JMARS (public)
email                help@jmars.asu.edu
login.lbl            E-Mail:

